body {
    background-repeat: repeat;
}

#header {
    opacity: .9;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de85sza-a49b9a6b-2128-4874-a1d2-65024866810f.jpg/v1/fill/w_1192,h_670,q_70,strp/night_reflection_by_bisbiswas_de85sza-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU4NXN6YS1hNDliOWE2Yi0yMTI4LTQ4NzQtYTFkMi02NTAyNDg2NjgxMGYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r41u3A8ad4NnaDC2PdqUtMeu9dVPDzvTN_RXwkjOHtc;)
}

#mdiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#anime-card {
    width: 100%;
    height: 1300px;
    padding: 0px;
 
}

.sub-div {
    display:grid;
grid-template-columns: 50% 50%;
     border-style: solid;
    
     
}



#dub1 {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-top: 30px;
}

#dub {
   margin-top: 40px;
} 

.card1 {
    width: 12rem;
    height: 13rem;
    position: relative;
    border-radius: 10px;
}

.card-img1 {
    height: 13rem;
    width: 11rem;
}



.card-content:hover {
    transition: opacity 0.3s ease-out;
    opacity: 1;
}
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: cursive;
    font-weight: bolder;
    background-color: rgba(224, 217, 217, 0);
    display: grid;
    grid-template-rows: 100% 100%;
    align-items: center;
    padding-top: 90%;
    justify-content: flex-start;
}



#navbar-item:hover {
    transition: background-color .4s ease-in !important;
    background-color: rgba(32, 129, 214, 0.878);
    border: 2px;
    border-style: ridge;
    border-radius: 10px;
    border-color: rgb(179, 163, 163);
    border-bottom: 0px;
}

#menu-li {
    background-color: transparent;
    color: antiquewhite;
}

#alert1 {
    width: 1200px;
    height: 50px;
}

.card-body {
    width: 12rem;
}




.alert {
    margin-top: 5px;
    text-align: center;
}

#narutoalert2 {
    height: 40px;
    margin-left: px;
    margin-top: 0px;
    width: 240px;
}

#card_button1 {
    margin-top: 2px;
    height: 35px;
    padding-bottom: 0px;
}

#alert-list {
    font-weight: 400;
    font-size: 35px;
    font: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 3ch;
    padding-bottom: 0%;
    padding-top: 0%;
    background: linear-gradient(15deg, rgb(36, 216, 60) 35%, blue);
}

#list {
    display: block;
    border-style: ridge;
    border-color: blanchedalmond;
    border-width: 2px;
    border-left: 0px;
    margin-left: 1%;
    margin-top: 7px;
    margin-right: 25px;
    width: 15%;
    height: max-content;
}

.list-content {
    font-size: large;
    font-style: oblique;
    color: antiquewhite;
    margin-top: 10px;
    line-height: 30px;
    text-decoration: none;
    letter-spacing: .1em;
    word-wrap: break-word;
}

#navbar1 {
    background: linear-gradient(45deg, rgb(15, 216, 15) 30%, blue);
}

#search-list {
    margin-top: 10px;
    margin-left: 5px;
}

.footer-content {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 1400px) {
    #sub-sub-div2 {
        width: 1200px;
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    .card-content {
        background-color: rgba(219, 208, 208, 0.295) !important;
        opacity: 0;
    }
}
    


@media only screen and (max-width: 1080px) {
    .sub-div {
        width: 800px;
        display: flex;
        flex-direction: column;
    }
    #sub-sub-div1 {
        width: 800px;
        display: flex;
        flex-direction: column;
    }
    #alert1 {
        width: 710px;
    }
   
    body {
        background-size: cover;
        background-size: 768px 1024px;
        background-repeat: repeat;
    }
    .anime-card {
        flex-direction: column;
    }
    #narutoalert2 {
        width: 9.5rem;
    }
    footer {
        margin-top: 110%;
    }
}

@media only screen and (max-width: 420px) {
    .navbar {
        width: 410px;
    }
    .sub-div {
        width: 400px;
        display: flex;
        flex-direction: column;
    }
    #mdiv {
        flex-direction: column;
    }
    #list {
        width: max-content;
    }
   
    #dub {
        width: 420px;
        display: flex;
        flex-direction: row;
    }
    #narutoalert2 {
        width: 100px !important;
        font-size: 8px;
        font-weight: bold;
        text-align: start;
    }
    .d-block {
        height: 250px !important;
    }
    #alert1 {
        width: 410px;
    }
    #dub1{
        margin-top: 50px;
    }
    .cards{
        margin-right: 70px;
    }
    
   
    .card1 {
        height: 220px;
    }
    .card-img1 {
        width: 100px !important;
        height: 150px;
    }
    
    .card-content {
        color: beige;
        font-size: smaller;
        width: 80px;
        opacity: 1;
        background-color: transparent !important;
    }
    #card_button1 {
        width: 6rem !important;
        font-size: 11px;
        height: 20px;
    }
    footer {
        margin-top: 50%;
    }
}