

body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de85sza-a49b9a6b-2128-4874-a1d2-65024866810f.jpg/v1/fill/w_1192,h_670,q_70,strp/night_reflection_by_bisbiswas_de85sza-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU4NXN6YS1hNDliOWE2Yi0yMTI4LTQ4NzQtYTFkMi02NTAyNDg2NjgxMGYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r41u3A8ad4NnaDC2PdqUtMeu9dVPDzvTN_RXwkjOHtc);
    background-repeat: repeat;
    /* background-size: ; */
}
#search1 {
    font-size: large;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: auto;
    margin-top: 10px;
    

}
.navbar {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de85sza-a49b9a6b-2128-4874-a1d2-65024866810f.jpg/v1/fill/w_1192,h_670,q_70,strp/night_reflection_by_bisbiswas_de85sza-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU4NXN6YS1hNDliOWE2Yi0yMTI4LTQ4NzQtYTFkMi02NTAyNDg2NjgxMGYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r41u3A8ad4NnaDC2PdqUtMeu9dVPDzvTN_RXwkjOHtc;)
}

#navbar-toggler {
    background-color: rgba(49, 46, 46, 0.918);
}

#navbar-toggler-icon {
    color: aqua;
}

#search1:hover::placeholder {
    color: rgb(224, 212, 139);
}

#search1::placeholder {
    color: rgb(165, 112, 42);
}

#search1 {
    color: rgba(227, 243, 83, 0.89);
}


#genre {
    color: beige;
    background-color: transparent;
    background-image: url();
}

.btn {
    background-color: transparent;
    color: beige;
}
#div-carc {
    width: 75%;
    height: 1300px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.sub-div {
    display: flex;
    /* flex-direction: column;  */
}
#sub-sub-div1{
    display: flex;
    flex-direction: row;
}
#sub-sub-div2{
    display: flex;
    flex-direction: row;
    
}

.sub-div2 {
    left: 0%;
    margin-top: 20px;
}
.card-div {
    margin-top: 15px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
    float: left;
    height: 480px
}

.card-div1 {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    flex-direction: column;
    float: left;
    width: 14rem;
}

.card-div2 {
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 30px;
    flex-direction: column;
    float: left;
}

#card-body {
    background-color: transparent;
}




#card4 {
    margin-left: 0px;
}

#card-img {

    width: 14rem;
}
#card-img1 {

    width: 225px;
    height: 170px;
}
#card-img3 {

    width: 225px;
    height: 170px;
}
#card-img5 {

    width: 195px;
}



.alert {
    margin-top: 5px;
    text-align: center;
    width: 1400px;
}



#alert2 {
    width:14rem;
    height: 40px;
    margin-left: px;
    margin-top: 0px;
}


#card-button1 {
    margin-top: 05px;
    margin-right: 13px;
    width: 150px;
}


@media only screen and (min-width: 1400px){
    #alert{
        width: 1519px;
        height: 39px;
        
    }
    #div-carc{
        height: 650px;
    }
    #search1{
        margin-top: 20px;
        margin-left: 790px;
    }
    #search-btn{
        margin-top: 20px;
        
    }

}
@media only screen and (max-width: 1080px) {
    body {
        background-repeat: repeat;
        background-size: contain;
    }
    #alert{
        width: 1024px;
    }
    #div-carc{
        height: 650px;
    }
    .sub-div {
        display: flex;
        flex-direction: row;
    }
    .card-div1 {
        margin-left: 10px;
        height: 37rem;
        margin-top: 0;
    }
    .card-div2 {
        margin-left: 30px;
        height: 37rem;
        margin-top: 0;
    }
    body {
        width: 770px;
    }
    .div-carc {
        flex-direction: column;
    }
    #action_alert{
        width: 95%;
    }
}
@media only screen and (max-width: 440px) {
    
    #alert2{
        width: 11rem;
    }
    #alert{
        width: 420px;
    }
  
#div-carc{
height: max-content;
}
    .sub-div{
        width: 420px;
        display: flex;
        flex-direction: column;
    }
    .card-div{
        width: 12rem;
        font-size: small;
    }
    .card-div1{
        width: 11rem;
        font-size: small;
    }
    .card-body{
        width: 11rem;
    }

    .card-div2{
        width: 11rem;
        font-size: small;
    }
    #card-img1{
        width: 11rem;
    }
    #card-img{
        width: 11rem;
    }
    #card-img5{
        width: 11rem;
    }

}
