body {
 background-color: #000;
}
#search1 {
    font-size: large;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: auto;
    margin-top: 10px;
}
#navbar-toggler {
    background-color: rgba(49, 46, 46, 0.918);
}
#navbar-toggler-icon {
    color: aqua;
}

.nav-link{
    color: #86C232 !important;
    font-family: cursive;
}

.nav-link:hover {
    transition: background-color .7s ease-in !important;
    background-color: rgba(240, 248, 255, 0.735);
    border: 2px;
    border-style: ridge;
    border-radius: 10px;
    border-color: rgb(179, 163, 163);
    border-bottom: 0px;
}

#search1:hover::placeholder {
    color: rgb(224, 212, 139);
}

#search1::placeholder {
    color: rgb(165, 112, 42);
}

#search1 {
    color: rgba(227, 243, 83, 0.89);
}

.genre-list  {
    color: beige !important;  
}
.genre-list:hover{
    background-color: rgb(61, 26, 185);
}

#genre-alert {
    background-color: #000;
    color: #86C232;
    width: 100% !important;
    border: ridge rgba(22, 132, 223, 0.911) 1px;
    border-bottom: 0px;
    border-right: 0px;
    margin-top: 5px;
    text-align: center;
    
}

.section-cards1 { 
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17%;
}
.card1{
    width:100%; 
    height: 220px;
}
.container{
   width: 100%;
    height: 100%;
}
.box-front {
    background-color:transparent;
    color: aliceblue;
    z-index: 1;
  width: 220px;
    height: 160px;
    position: absolute;
    transition: all 0.2s ease-in;
    font-family: cursive;
    font-weight:bold;
    font-size: medium;
    word-spacing: 2px;
}
.box-front h5{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 25px;
    color: rgb(255, 247, 247);  
}
.box-front:hover {

    background-color: transparent !important;
    opacity: 0;
    color: transparent;
}

.box-back {
    background-color: rgb(0, 0, 0);
    border: #86C232 solid 1px;
   
width: 90%;
height: 160px;
    z-index: 9;
    color: aliceblue;
    list-style-type: georgian;
    font-size: 13px;
        font-family: cursive;
    padding: 10px;
}
.box-back h5{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 25px;
    color: rgb(238, 227, 227);
}


@media only screen and (min-width: 1400px) {
    
    #div-carc {
        height: 650px;
    }
    #genre-alert{
        margin-left: 30px !important;
    }
    #search1 {
        margin-top: 20px;
        margin-left: 790px;
    }
    #search-btn {
        margin-top: 20px;
    }
    .section-cards1{
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1080px) {
    body {
        background-repeat: repeat;
        background-size: contain;
    }
    #alert {
        width: 1024px;
    }
 
   
    body {
        width: 770px;
    }
  
    #action_alert {
        width: 95%;
    }
}

@media only screen and (max-width: 420px) {
    .navbar{
        width: 411px !important;
    }
    #genre-alert{
        width: 411px !important;
    }
.section-cards1{
    display: grid;
    grid-template-columns: 17% 17% 17%;
    height: 440px;
}
    .card1{
        height: 150px;
        margin-bottom: 100px;
    }
    .box-front{width: 120px;
    height: 100px;

    font-size: 10px;
        
    }
    .box-back{
        display: none;
    }
    .box-front:hover{
        opacity: 1;
    }
    .btn{
        height: 20px;
        font-size: 8px;
        font-weight: bold;
        padding-bottom: 4px !important;
    }
footer{
    width:411px;
}

}
