#stream-box {
    background-color: rgb(37, 37, 37);
}

body {
    
    /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de85sza-a49b9a6b-2128-4874-a1d2-65024866810f.jpg/v1/fill/w_1192,h_670,q_70,strp/night_reflection_by_bisbiswas_de85sza-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU4NXN6YS1hNDliOWE2Yi0yMTI4LTQ4NzQtYTFkMi02NTAyNDg2NjgxMGYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r41u3A8ad4NnaDC2PdqUtMeu9dVPDzvTN_RXwkjOHtc);  */
    background-repeat: repeat; 
   
}



/* header {
    position: absolute;
    top: 40;
    z-index: 3;
} */

#menu-li {
    background-color: transparent;
    color: antiquewhite;
}

.card-div {
    margin-top: 15px;
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
    float: left;
    height: 480px
}

#alert1 {
    width: 1200px;
    height: 50px;
}
#mdiv {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#div-carc {
    width: 75%;
    height: 1300px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.sub-div {
    display: flex;
    /* border-style: ridge; */
    width: 1200px;
    flex-direction: column;
}

#sub-sub-div1{
    width: 1200px;
    display: flex;
    flex-direction: row;
    
}

.card-body{
    width: 12rem;
}
.card-div1 {
    margin-top: 9px;
    margin-bottom: 0px;
    margin-left: 5px;
    margin-right: 30px;
    float: left;
    width:11rem;
}

.card-div2 {
    width: 12rem;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 6px;
    margin-right: 10px;
    flex-direction: column;
    float: left;
}

.card-div3 {
    width: 12rem;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 2px;
    flex-direction: column;
    float: left;
}

.card-div4 {
    width: 12rem;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 5px;
    flex-direction: column;
    float: left;
}

.card-div5 {
    width: 12rem;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 5px;
    flex-direction: column;
    float: left;
}
.card-div6{
    width: 12rem;
    margin-top: 10px;
    display: flex;
    margin-bottom: 0px;
    margin-left: 5px;
    flex-direction: column;
    float: left;
}



.card-div {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0px;
    margin-right: 0px;
}





#dub{
    display: flex;
    flex-direction: row;
}


#card_img {
    height: 231px;
}

#card_img2 {
    height: 231px;
}

#header {
    
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b3be1dae-3caa-4d45-be6c-3de586ba95e2/de85sza-a49b9a6b-2128-4874-a1d2-65024866810f.jpg/v1/fill/w_1192,h_670,q_70,strp/night_reflection_by_bisbiswas_de85sza-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTA4MCIsInBhdGgiOiJcL2ZcL2IzYmUxZGFlLTNjYWEtNGQ0NS1iZTZjLTNkZTU4NmJhOTVlMlwvZGU4NXN6YS1hNDliOWE2Yi0yMTI4LTQ4NzQtYTFkMi02NTAyNDg2NjgxMGYuanBnIiwid2lkdGgiOiI8PTE5MjAifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.r41u3A8ad4NnaDC2PdqUtMeu9dVPDzvTN_RXwkjOHtc;)
    
}

.alert {
    margin-top: 5px;
    text-align: center;
}

#narutoalert {
    width: 7%;
    height: 40px;
    margin-left: 70px;
    display: flex;
    margin-top: 120px;
}

#narutoalert2 {
    height: 40px;
    margin-left: px;
    margin-top: 0px;
    width: 240px;
}

#card_button1 {
    margin-top: 2px;
    height: 35px;
    padding-bottom: 0px;
}




#alert-list {
    font-weight: 400;
    font-size: 35px;
    font: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 3ch;
    padding-bottom: 0%;
    padding-top: 0%;
    background: linear-gradient(15deg, rgb(36, 216, 60) 35%, blue);
}

#list {
    display: block;
    border-style: ridge;
    border-color: blanchedalmond;
    border-width: 2px;
    border-left: 0px;
    margin-left: 1%;
    margin-top: 7px;
    margin-right: 25px;
    width: 15%;
    height: max-content;
}

.list-item {
    margin-top: 15px;
    color: antiquewhite;
}

.list-content {
    font-size: large;
    font-style: oblique;
    color: antiquewhite;
    margin-top: 10px;
}

#navbar1 {
    background: linear-gradient(45deg, rgb(15, 216, 15) 30%, blue);
}

#search-list {
    margin-top: 10px;
    margin-left: 5px;
}
  .card{
            height: 0px;
    
            
            background-color: rgba(15, 15, 15, 0.733);
            color: antiquewhite;
        }
        .card-body{
            height: 180px;
            background-color: rgba(38, 41, 41, 0.733);
        }


  .mb-4{
      text-align:start
    
  }      

@media only screen and (min-width: 1400px) {
    /* #narutoalert2{width: 55%;}
        .card-div{width: 80%;}
        .sub-div{flex-direction: column ;
        width: auto; */

        #sub-sub-div2{
    width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 250px;
}
      
        #card_img{
            height: 180px;
        }
}



@media only screen and (max-width: 1080px) {
    .sub-div {
        width: 00px;
        display: flex;
        flex-direction: column;
    }
    #sub-sub-div1{
        width: 800px;
        display: flex;
        flex-direction: column;
    }
    #narutoalert2 {
        width: 260px;
    }
    #alert1 {
        width: 710px;
    }
    
    .card-div1 {
        margin-left: 10px;
        height: 37rem;
    }
    .card-div2 {
        margin-left: 10px;
        height: 37rem;
    }
    body {
        background-size: cover;
        background-size: 768px 1024px;
        background-repeat: repeat;
    }
    .div-carc {
        flex-direction: column;
    }
    #narutoalert2 {
        width: 240px;
    }
    footer{
        margin-top: 110%;
    }
}

@media only screen and (max-width: 480px) {
    #header{
        width: 420px;
    }
    
     #mdiv{
        display:flex;
        flex-direction: column;
    }
    #list{
width: max-content;
    }
    #alert1 {
        width: 380px;
    }

    .card{
        width: 0px;
        height: 0px;
         background-color: rgba(15, 15, 15, 0.733);
            color: antiquewhite;

    }
    .card-body{
         background-color: rgba(15, 15, 15, 0.733);
    }
    #card_img{
        height: 120px;
    }
    #card_button1{
        width: 10px;
        height: 30px;
        margin-right: 7px;
    }
   
   
    #dub{
         display: flex;
        flex-direction: column;
    }
    .card-div1{
        margin-left: 30px;
         font-size: small;
    }
    .card-div2{
        margin-top: -200px;
        margin-left: 30px;
        font-size: small;
    }
    .card-div5{
        margin-top: -200px;
        margin-left: 30px;
         font-size: small;
    }
    .card-div6{
        margin-top: 160px;
        margin-left: 30px;
         font-size: small;
    }
    
    
    #narutoalert2 {
        width: 20px;
    }
   
   
   footer{
        margin-top: 810%;
    }
}