 .heading {
     font-size: 30px;
     font-family: cursive;
     font-weight: bolder;
     margin-left: 40%;
     margin-top: 20px;
     color: crimson;
 }

 #mdiv {
     display: flex;
     flex-direction: column;
 }

 #sub-div1 {
     display: flex;
     flex-direction: row;
 }

 /* img:hover{
    transition: margin-top 0.3S ease-in-out;
 margin-top: 50px !important;  
 
}  */

 #div-d {
     width: 33%;
     height: 400px;
     background-image: url(https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455__480.jpg);
     display: block;
 }

 #div-d1 {
     color: antiquewhite;
     display: none;
 }

 #div-d:hover {
     display: none;
 }

 .card1 {
     width: 12rem;
     height: 13rem;
     position: relative;
 }

 .card-content {
     position: absolute;
     top: 0;
     left: 0;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     height: 100%;
     width: 100%;
     color: rgb(0, 0, 0);
     font-family: cursive;
     background-color: rgba(224, 217, 217, 0.295);
     display: flex;
     flex-direction: row;
     align-items: center;
     padding-top: 90%;
     justify-content: flex-start;
     opacity: 0;
 }

 .card-content:hover {
     transition: opacity 0.3s ease-out;
     opacity: 1;
 }

 .modal-window {
     position: fixed;
     background-color: rgba(0, 0, 0, .25);
     inset: 0;
     z-index: 99999;
     visibility: 0;
     opacity: 0;
     transition: all 0.3s;
     pointer-events: none;
 }

 .modal-window:target {
     visibility: visible;
     opacity: 1;
     pointer-events: auto;
 }

 .modal-window>div {
     width: 500px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     padding: 2.2em;
     background: #ffff;
     border-radius: 1rem;
 }

 .modal-window header {
     font-weight: bold;
 }

 .modal-window h1 {
     font-size: 151%;
     margin: 0, 0, 15px;
 }

 .modal-close {
     color: #aaa;
     line-height: 50px;
     font-size: 80%;
     position: absolute;
     right: 0;
     top: 0;
     text-align: center;
     width: 70px;
     text-decoration: none;
 }

 .modal-close:hover {
     color: black;
 }

 .container {
     display: grid;
     justify-content: center;
     align-items: center;
     height: 100vh;
 }

 .modal-window>div {
     border-radius: 1rem;
 }

 .modal-window>div:not(:last-of-type) {
     margin-bottom: 10px;
 }

 .btn {
     background-color: white;
     padding: 1 em;
     border-radius: 1.3rem;
     border: 3px solid transparent;
 }

 .btn:hover {
     border: 3px solid gray;
     background: #fcfcfc;
 }